@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
  }

  .scrollbar-thumb-\[\#3d8eb3\]::-webkit-scrollbar-thumb {
    background-color: #3d8eb3;
    border-radius: 4px;
  }

  .scrollbar-track-gray-100::-webkit-scrollbar-track {
    background-color: #f3f4f6;
    border-radius: 4px;
  }
}
